$yellow: #ecc825;
$blue: #007aff;
$gray: #8e8e8e;

.fillYellow   { fill:   $yellow }
.strokeYellow { stroke: $yellow }
.fillBlue     { fill:   $blue   }
.strokeBlue   { stroke: $blue   }
.fillGray     { fill:   $gray   }
.strokeGray   { stroke: $gray   }
