@import-normalize;

html
{
	height: 100%;
	font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 18px;
}

body
{
	height: 100%;
	overflow: hidden;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: none;

	@media (prefers-color-scheme: dark)
	{
		color: #fff;
		background: #000; 
	}
}

#root
{
	height: 100%;
}
